<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTFNote - Token Login - Confirm</title>
</head>

<body>
  <h1>CTFNote</h1>
  <h2>Confirm Token Login</h2>
  <form method="post">
    <div>
      You are about to attempt logging in with a token, do you want to continue?
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" id="tokenInput" name="token" value="{{ token }}">
    <input type="submit" value="Continue">
  </form>
</body>

</html>